<header class="header text-center"
        role="banner">
  <!--  <div class="wrapper">{% assign default_paths = site.pages | map: "path" %} {% assign page_paths = site.header_pages | default: default_paths %}</div>-->
  <div class="container">
    <div class="branding">
      <h1 class="logo">
      <span aria-hidden="true"
            class="icon_documents_alt icon"></span>
      <span class="text-highlight">BASE</span>for 
      <span class="text-bold">A-Frame</span></h1>
    </div>
    <!--//branding-->
    <!-- Breadcrumb -->
  </div>
  <!--//container-->
</header>
